<h2>Eventos</h2>
<hr>

<div class="form-inline">
<div class="form-group mb-2">
  <label class="mr-2 me-2">Filtro:</label>
  <input
    type="text"
    class="form-group col-md-2 border border-secondary"
    placeholder="Buscar"
    [(ngModel)]="filtroLista"
    >
</div>
</div>
<h5>Filtro: {{filtroLista}}</h5>
<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th class="">
        <button class="btn btn-outline-light btn-sm " (click)="alterImg()">
          {{ !viewImg ? "exibir" : "ocultar" }}
        </button>
      </th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventos.length">
    <tr *ngFor="let evento of eventosFiltrados">
      <td class="-sm">
        <img
          [collapse]="!viewImg"
          [isAnimated]="true"
          src="/assets/{{ evento.imagemURL }}"
          [style.width.px]="widthImg"
          [style.margin.px]="marginImg"
          alt=""
        />
      </td>
      <td>{{ evento.eventoId }}</td>
      <td>{{ evento.tema }}</td>
      <td>{{ evento.local }}</td>
      <td>{{ evento.dataEvento }}</td>
      <td>{{ evento.qtdPessoas }}</td>
      <td>{{ evento.lote }}</td>
      <td>
        <button type="button" class="btn btn-outline-primary me-2">Editar</button>
        <button type="button" class="btn btn-outline-danger">Excluir</button>
      </td>
    </tr>
  </tbody>
</table>

<tfoot *ngIf="!eventos.length">
  <tr>
    <td coslpan="8" class="text-center">
      <h4>Nenhum evento encontrado!</h4>
    </td>
  </tr>
</tfoot>
